In [1]:
import tensorflow as tf

In [16]:
daily_sales_numbers = [21, 22, -108, 31, -1, 32, 34,31] #in usdollar

#creating a tensorflow - dataset 
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)
tf_dataset

In [17]:
#this wud be in the tf format , so basically we need to convert it into numpy 
for sales in tf_dataset:
    print(sales)

tf.Tensor(21, shape=(), dtype=int32)
tf.Tensor(22, shape=(), dtype=int32)
tf.Tensor(-108, shape=(), dtype=int32)
tf.Tensor(31, shape=(), dtype=int32)
tf.Tensor(-1, shape=(), dtype=int32)
tf.Tensor(32, shape=(), dtype=int32)
tf.Tensor(34, shape=(), dtype=int32)
tf.Tensor(31, shape=(), dtype=int32)

In [18]:
#1st approach
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
-108
31
-1
32
34
31

In [19]:
#2nd approach :- .take(3) function  selecting first 3 elts.
for sales in tf_dataset.take(3):
    print(sales.numpy())

21
22
-108

In [20]:
#as sale cant be in negative , so we need to filter it

In [21]:
#.filter()
tf_dataset = tf_dataset.filter(lambda x: x>0)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
31
32
34
31

In [22]:
tf_dataset = tf_dataset.map(lambda x: x*72)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1512
1584
2232
2304
2448
2232

In [23]:
tf_dataset = tf_dataset.shuffle(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1512
1584
2304
2232
2448
2232

In [25]:
#Doing batching !
#buffer_size =2 means batch of 2
for sales_batch in tf_dataset.batch(2):
    print(sales_batch.numpy())

[1512 1584]
[2304 2232]
[2448 2232]

In [27]:
#now in one line you can do this whole steps !

In [28]:
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

tf_dataset = tf_dataset.filter(lambda x: x>0).map(lambda y: y*72).shuffle(2).batch(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

[1584 1512]
[2304 2448]
[2232 2232]

In [ ]:
images_ds = tf.data.Dataset.list_files('images/*/*', shuffle=False)